<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container">
    <h1> <strong>Listing completed</strong>!</h1>
    <br>
    <p>Good luck. Try to survive :) :) :)</p>
  </div>
</div>
