<h1 class="text-center">Sell with Click Shoot!</h1>

<h2 class="text-center">Terms & Conditions</h2>

<p class="text-center">
<ol>
<li>We are not responsible if the photos taken with your camera are linked to a crime scene</li>

<li>You agree to let strange men pick up & handle your devices</li>

<li>If your camera is returned with new photos of you, try to take it as a form of flattery</li>
</ol>
</p>

<div class="mx-auto" style="width: 200px;">
<button type="button" class="btn btn-danger"> <%= link_to "List Now!", new_sale_item_path %></button>
</div>
