<h1> Header goes here </h1>

<h2> Search bar goes here - will be pre-filled with selection from previous page </h2>

<ol>
<% @sale_items.each do |sale_item| %>
<li>
  <%= link_to(sale_item.model, sale_item) + "---" + sale_item.daily_rate.to_s + "---" + sale_item.set_up_rate.to_s + "---" +sale_item.city %>, sale_item
</li>
<% end %>
<h2> We need to add a filter to the each.do based on the user input for location on the previous page </h2>


<ol>


